.form-block{
    margin-right: 800px;
}
.form_text{
    margin-bottom: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color:  #8A817C;
    height : 40px;
    width : 450px;
}

.name_item{
    margin-top: 15px;
    color: #8A817C;
    font-size: 18px;
}
.inf_block{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 200px;
}

.message_text{
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color:  #8A817C;
    height : 200px;
    width : 450px;
}

.inf_text{
    margin-left: 10px;
    font-size: 20px;
    color: #8A817C;
}

.inf_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form_but{
    margin-top: 40px;
    height: 40px;
    width: 140px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color:  #FFE4C4;
    background-color:  #FFE4C4;
    color: #BCB8B1;
}

.guruweba_example_form2{
    display: flex;
    flex-direction: column;
    align-items: left;   
    margin-bottom: 30px;  
    margin-top: 30px;    
    margin-right: 250px;
}

.guruweba_example_form2{
    display: flex;
    flex-direction: column;
    align-items: left;   
    margin-bottom: 30px;    
    margin-right: 250px;
}

.section_contact{
    justify-content:space-between;
}

.menubase{
    background-color: #463F3A;
    height: 100px;
}

.headercontact{
   
    background:url(../img/dogmain.jpg) no-repeat center center; 
    height: 850px; 
    background-size: cover;
}

.pmain{
    font-size: 24px;
    color: #F4F3EE; 
    width: 370px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.h2_main{
    color: #F4F3EE;  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
}

.main_text{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 270px;
    padding-top: 150px;
}

.header_wrapper{
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;   
}

.team{
    background-color:  #F4F3EE;;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}

.title_team{
    margin-bottom: 50px;
    font-size: 44px;
    color: #8A817C;
}

.block_team{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
}

.team_inf{
    margin: 10px 60px;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    overflow: hidden;

}

.team_img{
    height: 300px;
    width: 400px;
    transition: transform ease 0.3s;
}

.team_img:hover {

    transform: scale(1.1); /* Увеличиваем масштаб */
   }

.name_team{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #8A817C;  
    font-family: Montserrat;
    font-style: normal; 
    font-size: 24px;
}

.role_team{
    margin-bottom: 120px;
    height: 15px;
    color: #8A817C;  
    font-family: Montserrat;
    font-style: normal;
    font-size: 18px;
}