.cat_inf{
    margin: 20px;
    background-color: white;
    height: 500px;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cat_img{
    padding-top: 10px;
    height: 330px;
    width: 260px;
}

.cat_title2{
    color: #8A817C;  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}

.cat_but{
    width: 170px;
    height: 60px;
    border-radius: 50px;
    border-width: 3px;
    background-color: white;
    border-color:  #FFE4C4;
    border-style: solid;
    color:  #8A817C;  
    font-family: Montserrat;
    font-size: 16px;
    margin-bottom: 15px;
}


.cat_but:hover, .cat_but:focus, .cat_but:active {
    background-color: #FFE4C4;
}

.arrow_cats:hover, .arrow_cats:focus, .arrow_cats:active {
    background-color: #FFE4C4;
}

.cats_but{
    margin-top: 45px;
    width: 240px;
    height: 70px;
    border-radius: 50px;
    background-color:   #FFE4C4;
    border-color:  #FFE4C4;
    border-width: 3px;
    border-style: solid;
    color:  #8A817C;  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.cats_but:hover, .cats_but:focus, .cats_but:active {
    opacity: 0.7;
}


.team_inf{
    margin: 10px 60px;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    overflow: hidden;

}

.team_img{
    height: 300px;
    width: 400px;
    transition: transform ease 0.3s;
}

.team_img:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
   }

.name_team{
    margin-top: 20px;
    color: #8A817C;  
    font-family: Montserrat;
    font-style: normal; 
    font-size: 24px;
}

.role_team{
    margin-bottom: 20px;
    height: 15px;
    color: #8A817C;  
    font-family: Montserrat;
    font-style: normal;
    font-size: 18px;
}

.footer{
    background-color: #463F3A;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer_img{
    margin-left: 140px;
    width: 350px;
    height: 350px;
}

.title_footer{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #F4F3EE;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}

.footer_text{
    margin-left: 10px;
    margin-top: 15px;
    font-size: 20px;
    color: #FFE4C4;
}

.logo{
    padding-left: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #FFE4C4;
    
}

.hlink{
    text-decoration: none;
    color: #F4F3EE; 
    font-size: 20px;  
    font-family: Inter;
    font-style: normal;
    list-style-type: none;
}

.hitem{
    margin-right: 55px;
    text-decoration: none;
    list-style-type: none;
}
.hlink:hover, .hlink:focus, .hlink:active {
    text-decoration: underline;
    text-decoration: none;
    color: #FFE4C4;
    
}

.head_list{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 200px;
    
}

.menubase{
    background-color: #463F3A;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
}

.adddonate{
    height: 440px;
    width: 800px;
    background-color: #463F3A;
    border-radius: 40px;
}

.addcontentdonate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.formcontent{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.imgfordonate{
    height: 400px;
    width: 250px;
}

.inputd{
    margin: 10px;
    width: 340px;
    height: 50px;
    left: 1090px;
    top: 3417px;
    background: #FFFFFF;
    border-radius: 20px;
    border-style: none;
}

.labeld{
    float: left;
    text-align: start;
    padding-right: 250px;
    margin: 10px;
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    color: #FFE4C4;
}

.textd{
    padding-right: 300px;
}

.butpushdonate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    width: 190px;
    height: 45px;
    background: #E1C1C1;
    border-radius: 20px;
    border-style: none;
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #8A817C;
}
.donatemodal{
    width: 823px;
    height: 302px;
    margin: auto;
    margin-top: 15%;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}



.donatemodaltext{
    text-align: center;
    width: 715px;
    height: 100px;
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #463F3A;
    }

.modal_wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .2);
    backdrop-filter: blur(10px);
}
      
.modal_wrapper.open{
    width: 100%;
    height: 100%;
    display: block;
}
      
.modal_wrapper.close{
    height: 0;
    display: none;
}

.modal_close{
    margin-top: 10px;
    margin-right: 46px;
    align-self: flex-end;
}

.closeimg{
    height: 55px;
    width: 55px;
  }

  .arrow_cats{
    border-radius: 70px;
    border-width: 3px;
    border-color:  #FFE4C4;
    border-style: solid;
    width: 50px;
    height: 50px;
    background-color: #F4F3EE;
    text-align: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  
  
  .cats{
    background-color: #F4F3EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 850px;
  }
  
  .cat_title{
    color: #8A817C;  
    font-family: Montserrat;
    font-style: normal;
    font-size: 48px;
  }
  
  .cat_block{
    margin-top: 30px;
    width: 1250px; 
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .arrow_cats:hover, .arrow_cats:focus, .arrow_cats:active {
    background-color: #FFE4C4;
  }
  
  .slider_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .cats_but{
    margin-top: 45px;
    width: 240px;
    height: 70px;
    border-radius: 50px;
    background-color:   #FFE4C4;
    border-color:  #FFE4C4;
    border-width: 3px;
    border-style: solid;
    color:  #8A817C;  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
  }
  
  .cats_but:hover, .cats_but:focus, .cats_but:active {
    opacity: 0.7;
  }
  
  .cat_inf{
    transition: .1s;
    margin: 20px;
    background-color: white;
    height: 500px;
    min-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cat_img{
    padding-top: 10px;
    margin-bottom: 20px;
    height: 330px;
    width: 260px;
  }
  
  .cat_title2{
    margin-bottom: 20px;
    color: #8A817C;  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
  }
  
  .cat_but{
    width: 170px;
    height: 60px;
    border-radius: 50px;
    border-width: 3px;
    background-color: white;
    border-color:  #FFE4C4;
    border-style: solid;
    color:  #8A817C;  
    font-family: Montserrat;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  
  .cat_but:hover, .cat_but:focus, .cat_but:active {
    background-color: #FFE4C4;
  }
  
  .but_block{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  
  }
  
  .maneger_block{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1158px;
    height: 607px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }

  div#eat {
    cursor: grab;
    border: none;
    text-indent: -9999px;
    line-height: 0;
    background: url(../img/eat.jpg) no-repeat center;
    height: 100px;
    width: 100px;
    margin: 70px;
}

div#game {
    cursor: grab;
    border: none;
    text-indent: -9999px;
    line-height: 0;
    background: url(../img/toy.jpg) no-repeat center;
    height: 100px;
    width: 100px;
    margin: 70px;
}

div#care {
    cursor: grab;
    border: none;
    text-indent: -9999px;
    line-height: 0;
    background: url(../img/care1.jpg) no-repeat center;
    height: 100px;
    width: 100px;
    margin: 70px;
}


.happycat{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title_happycat{
    margin-top: 70px;
    color: #8A817C;  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
}

.cathappy_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cat_action{
    height: 520px;
    margin-right: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img_cathappy{
    margin-left: 250px;
    width: 550px;
    height: 500px;
}

.actions{
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.properties{
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.property{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.name_property{
    margin-right: 20px;
    color: #8A817C;  
    font-family: Montserrat;
    font-style: normal;
    font-size: 24px;
}

.level2{
    height: 12px;
    width: 30px;
    margin-left: 15px;
    background-color: #E1C1C1;
    border-style: solid;
    border-radius: 50px;
    border-width: 3px;
    border-color: #E1C1C1;
}

.level{
    height: 12px;
    width: 30px;
    margin-left: 15px;
    background-color: #8A817C;
    border-style: solid;
    border-radius: 50px;
    border-width: 3px;
    border-color: #8A817C;
}

.header{
    background:url(../img/cat2.jpg) no-repeat center center; 
    height: 850px; 
    background-size: cover;
}

.h2_main{
    color: #F4F3EE;  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
}


.main_text{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 270px;
    padding-top: 150px;
}
.hbut{
    margin-top: 25px;
    color : #463F3A;
    background-color:  #FFE4C4;
    border: none;
    border-radius: 20px;
    height: 45px;
    width: 170px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.hbut:hover, .hlink:focus, .hlink:active {
    opacity: 0.7;
}

.donation_subtitle{
    margin-top: 30px;
    color: #8A817C;  
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
}

.img_donation{
    width: 130px;
    height: 130px;
    color:  #FFE4C4;
}

.donation_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px;
    height: 150px;
}