
.pageCat{
    margin-top: 150px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.pagemain{
    background-color: #F4F3EE;
}
.catCard{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1158px;
    height: 707px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.inf_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contentcat{
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: start;

}

.namecat{
    font-family: 'Istok Web';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 69px;

/* text2 */

color: #8A817C;

}


.breedcat{
    font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 29px;

/* text2 */

color: #8A817C;


}


.storyCat{
    font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 23px;
height: 140px;
width: 440px;
/* text2 */

color: #8A817C;

}

.imgcat{
  height: 390px;
  width: 370px;

}

.vacempty{
  font-style: normal;
  font-weight: 400;
  color:#8A817C;
  font-size: 20px;
}

#pet-select{
    font-weight: 400;
    color:#8A817C;
    font-size: 20px;
    margin-bottom: 15px;
}

li{
    color: #FFE4C4;
}

li span {
  font-weight: 400;
  color: #8A817C; /* Цвет текста */
  font-size: 20px;
}

.filterblock{
  background: #F4F3EE;
/* text2 */

border: 3px solid #8A817C;
border-radius: 20px;
position: absolute;
width: 357px;
height: 534px;
left: 73px;
top: 188px;
display: flex;
flex-direction: column;
align-items: top;
justify-content: start;
 }

.filtercontent{

  padding: 25px;
}
 .filtertext{
  font-family: 'Istok Web';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 46px;
color: #8A817C;
 }


 .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

.custom-checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color:  #8A817C;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}



.checkbox {
  font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;

/* text2 */

color: #8A817C;
  margin-bottom: 1em;
}

.searcblock{
  width: 44px;
  height: 38px;
  background: #2C2C2C;
  border-radius: 0px 10px 10px 0px;
}

.search{
  margin-bottom: 20px;
  margin-top: 10px;
  background: #8A817C;;
  width: 290px;
  height: 38px;
  border: 1px solid #8A817C;;
  border-radius: 10px;
  display: inline-block;
  font-size: 20px;
}

[type='search']{
  border: none;
  outline: none;
  border-radius: 10px 0px 0px 10px;
  background: #EEEEEE;
  width: 250px;
  height: 36px;
/* MainColor */
}

.iconclass{
  color: white;
  border: none;
  height: 30px;
  width: 30px;
  background-color: #8A817C;
}

.slider {
  margin-top: 40px;
  display: flex;
  align-items: center;
  }
 
.slider input[type="range"] {
  -webkit-appearance:none !important;
  width: 290px;
  height: 10px;
  background:  #8A817C;;
  border: none;
  outline: none;
  }
.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 25px;
  height:25px;
  background: #FFE4C4;
  border: 2px solid #FFE4C4;;
  border-radius: 50%;
  cursor: pointer;
  }
.slider input[type="range"]::-webkit-slider-thumb:hover {
    width: 30px;
    height:30px;
  
  }

  .pagespet {
    margin-right: 470px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

.modal_wrapper{
position: fixed;
bottom: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0, .2);
backdrop-filter: blur(10px);
}


.modal_wrapper.open{
width: 100%;
height: 100%;
display: block;
}

.modal_wrapper.close{
height: 0;
display: none;
}

.modal_body{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.vaccination_part{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  .vaccination_row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
  }
  
  .but_plus{
  margin-left: 100px;
  margin-bottom: 25px;
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F4F3EE;
  width: 40px;
  height: 37px;
  background: #E1C1C1;
  border-color: #E1C1C1;
  border-radius: 10px;
  
  }

  .name_item_vac{
    margin-left: 90px;
    margin-top: 15px;
    margin-bottom: 35px;
    color: #8A817C;
    font-size: 22px;
  }

  .modal_line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
  }


.closeimg{
margin-right: 10px;
height: 55px;
width: 55px;
cursor: pointer;
}

.modal_close{
margin-top: 50px;
margin-left: 1300px;
}

.modal_content{
  width: 1251px;
  height: 870px;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  
  background: #FFFFFF;
  border: 1px solid #8A817C;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

.addimg{
  margin-left: 50px;
  width: 400px;
  height: 605px;
}
    
.info_part{
  margin-left: 170px;
}

.guruweba_example_form2{
  display: flex;
  flex-direction: column;
  align-items: left;   
  margin-bottom: 30px;  
  margin-top: 30px;    
  margin-right: 250px;
}

.form_text_short{
  width: 130px;
  height: 40px; 
  background: #FFFFFF;
  border: 1px solid #8A817C;
  border-radius: 10px;
  margin-right: 70px;
  }


.modal_content_vac{
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    width: 870px;
    height: 403px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    }
    
.modal_close_vac{
  margin-left: 772px;
  margin-bottom: 15px;
}

.vaccinatiion_form{
  width: 783px;
  height: 156px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #F4F3EE;
  border-radius: 10px;
}

.input_block{
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: start;
}

.form_but_vac{
  width: 275px;
  height: 56px;
  background: #FFE4C4;
  border-radius: 20px;
  
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  border-color: #FFE4C4;
  color: #8A817C;
  margin-left:505px;
  margin-top: 45px;
  }
  
.form_text_vac{
  width: 330px;
  height: 53px;
  
  background: #FFFFFF;
  border: 1px solid #8A817C;
  border-radius: 10px;
  margin-right: 70px;
  }

.form_text_data{
    width: 149px;
    height: 53px;
    background: #FFFFFF;
    border: 1px solid #8A817C;
    border-radius: 10px;
}

.imgcatupdate{
  height: 600px;
  width: 470px;
  margin-bottom: 70px;
}

.updatecard_modal{
  width: 1151px;
  height: 750px;
  background: #FFFFFF;
  margin: auto;
  margin-top: 10%;
  border: 1px solid #8A817C;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

}

.updatecard{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.modal_close_update{
  margin-top: 20px;
  align-self: flex-end;
  margin-right: 40px;
}

.form_update{
  display: flex;
  flex-direction: column;
  align-items: left;   
  margin-bottom: 30px;      
}

.block_vac{
  width: 520px;
  height: 120px;
  overflow: auto;
}

.vac_line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form_but_update{
  width: 275px;
  height: 56px;
  align-self: flex-end;
  background: #FFE4C4;
  border-radius: 20px;
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #FFE4C4;
  color: #8A817C;
  margin-top: 45px;
}

.form_but_vaccination{
  background: #FFE4C4;
  border-radius: 20px;

  font-family: 'Istok Web';
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #FFE4C4;
  color: #8A817C;
  margin-left: 20px;
  margin-top: 45px;
}